body {
    margin: 0;
}
#map {
  height: 100vh;
  /* border: 1px solid red; */
}

.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}

/* own layer icons */
.leaflet-control-layers-toggle {
	background-image: url(../icons/layers_841577.png) !important;
	width: 36px;
	height: 36px;
}
.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(../icons/layers_841577.png) !important;
	background-size: 30px 30px !important;
}

/* START: OWN CONTROL BUTTONS */
.layer-control-bergwacht a {
	background-image: url(../icons/bergwacht_blume.svg) !important;
	width: 34px;
	height: 34px;
}
.leaflet-retina .layer-control-bergwacht a {
    background-image: url(../icons/bergwacht_blume.svg) !important;
	background-size: 38px 38px !important;
}

.layer-control-schutzgebiete a {
	background-image: url(../icons/schutzgebiete_7653227.svg) !important;
	width: 36px;
	height: 36px;
}
.leaflet-retina .layer-control-schutzgebiete a {
    background-image: url(../icons/schutzgebiete_7653227.svg) !important;
	background-size: 30px 30px !important;
}

.layer-control-chronotrains a {
	background-image: url(../icons/chronotrains_1755475.png) !important;
	width: 36px;
	height: 36px;
}
.leaflet-retina .layer-control-chronotrains a {
    background-image: url(../icons/chronotrains_1755475.png) !important;
	background-size: 30px 30px !important;
}
/* END: OWN CONTROL BUTTONS */

.leaflet-control-layers-custom-header {
    font-weight: bold;
    display: flex;
}
.leaflet-control-layers-custom-header input {
    margin-left: auto;
    width: 7em;
}

/* needed to get rid of gaps between tiles, also see https://github.com/Leaflet/Leaflet/issues/3575#issuecomment-203821877 */
.leaflet-tile-container img {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}