/* START: MAIN MAP SETTINGS */
body {
    margin: 0;
}

#map {
  height: 100vh;
  /* border: 1px solid red; */
}

/* needed to get rid of gaps between tiles, also see https://github.com/Leaflet/Leaflet/issues/3575#issuecomment-203821877 */
.leaflet-tile-container img {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}
/* END: MAIN MAP SETTINGS */



/* START: CONTROL ICONS */
.leaflet-control-layers-toggle {
	background-image: url(../icons/layers_841577.png) !important;
    background-size: 30px 30px !important;
}
/*
.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(../icons/layers_841577.png) !important;
	background-size: 30px 30px !important;
}
*/

/*
.layer-control-streets a {
	background-image: url(../icons/streets_10465614.png) !important;
    background-size: 34px 34px !important;

}
*/

.leaflet-geosearch-button a {
    background-image: url(../icons/search_8634862.png) !important;
    background-size: 18px 18px !important;
}
/* a magnifying glass is shown with ::before and ::after which is too small for the icon, so hide it */
.leaflet-geosearch-button a::before,
.leaflet-geosearch-button a::after {
    display: none !important;
}

.layer-control-satellite a {
    background-image: url(../icons/satellite_8414448.png) !important;
    background-size: 38px 38px !important;
    transform: translate(1px, -1px);
}

.layer-control-hillshade a {
    background-image: url(../icons/hillshade_992325.png) !important;
    background-size: 38px 38px !important;
}

.layer-control-slopeangle a {
	background-image: url(../icons/slopeangle_5519963.png) !important;
    background-size: 30px 30px !important;
}

.layer-control-lawinenlage a {
	background-image: url(../icons/avalanche2.png) !important;
    background-size: 36px !important;
}

.layer-control-weather a {
	background-image: url(../icons/weather_1714891.png) !important;
    background-size: 30px 30px !important;
}

.layer-control-schutzgebiete a {
	/* background-image: url(../icons/schutzgebiete_7653227.svg) !important; */
    background-image: url(../icons/schutzgebiete_1922230.png) !important;
    background-size: 30px 30px !important;
}

.layer-control-wintersports a {
	background-image: url(../icons/wintersports_310391.png) !important;
    background-size: 30px 30px !important;
}

.layer-control-oepnv a {
	background-image: url(../icons/oepnv_1755475.png) !important;
    background-size: 30px 30px !important;
}

.layer-control-cycling a {
	background-image: url(../icons/cycling_3198344.png) !important;
    background-size: 34px 34px !important;
}

.layer-control-car a {
	background-image: url(../icons/car_846338.png) !important;
    background-size: 34px 34px !important;
}

.layer-control-seamaps a {
	background-image: url(../icons/seamaps_9199848.png) !important;
    background-size: 30px 30px !important;
}
/* END: CONTROL ICONS */



/* START: LAYER CONTROLS */
/* smaller margins so that control buttons are closer together */
.leaflet-right .leaflet-control {
    margin-top: 6px;
    margin-right: 6px;
}

/* style headers */
.leaflet-control-layers-custom-header {
    font-weight: bold;
    display: flex;
}

.leaflet-control-layers-custom-header label {
    margin-right: 10px;
}

/* style inputs (opacity sliders) */
.leaflet-control-layers-custom-header input {
    margin-left: auto;
    width: 7em;
}
/* END: LAYER CONTROLS */



/* START: ATTRIBUTION / LEGENDS */
.weather_legend_img {
    position:   absolute;
    bottom:     5vh;
    max-width:  95%;
    display:    none;
}
/* END: ATTRIBUTION / LEGENDS */