body {
    margin: 0;
}
#map {
  height: 100vh;
  /* border: 1px solid red; */
}

.leaflet-control-layers-custom-header {
    font-weight: bold;
    display: flex;
}
.leaflet-control-layers-custom-header input {
    margin-left: auto;
    width: 7em;
}

/* needed to get rid of gaps between tiles, also see https://github.com/Leaflet/Leaflet/issues/3575#issuecomment-203821877 */
.leaflet-tile-container img {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}